.menu li {
   list-style-type:none
}

.m1 {font-size:1.5em; font-weight: bold}

.m2 {font-size:1em; font-weight: normal}

.menu li a {
   text-decoration: none;
}


body {
   font-family: 'Open Sans', sans-serif;
   text-align: justify;
   color: #444;
   background-color: #F4F4F4;
   background-image: url(bgnoise.png);
   font-size:110%;
}

h1, h2 { font-weight:normal; }


.chapter {
  width: 700px;
  position: relative;
  margin: 0  auto;
  padding:40px;
  padding-top:10px;
  border:0;
  background: #FAFBFC;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

pre {
  padding: 1em 4em; 
  vertical-align: top;
  margin-right:-40px;
  margin-left:-40px;
  background-color: #FDF6E3;
  color: #586E75;
  font-weight: bold;
}

div.note {
  background-color: #D82545;
  padding: 1em 4em;
  margin-right:-40px;
  margin-left:-40px;
  text-align: right;
  color: #EDF0EA;
  font-size:120%;
}

div.author {
  background-color: green;
  padding: 1em 4em;
  margin-right:-40px;
  margin-left:-40px;
  margin-bottom:1em;
  color: #EDF0EA;
  font-size:120%;
  
}

div.idea {
  background-color: #afafaf;
  padding: 1em 4em;
  margin-right:-40px;
  margin-left:-40px;
  color: #EDF0EA;
  font-size:120%;
}

div.chapter_header {

    text-align:right;
    size:5em;
    margin-bottom:200px;

}

blockquote {
padding: 10px 15px;
background-color: #eeeeee;

padding: 0 0 0 15px;
margin: 0 0 20px;
border-left: 5px solid #bbbbbb;
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 40px;
-webkit-margin-end: 40px;
}



code {
padding: 2px 4px;
color: #d14;
background-color: #f7f7f9;
border: 1px solid #e1e1e8;
white-space: nowrap;
}

span.yellow {background-color:yellow; font-style:normal}


dl {margin-left: 1em}


dt {font-weight:bold}

dd > p:first-child {margin-top:0px; }

div.red {margin-left:60px; background-color:#fead12}

